<form action="/search/" method="GET" style="margin-top: 3px" class="social-link social-link-fb">
        <input style="color:#000" name="q" type="search" alt="search" id="google-search-box" value="{{ @query.q }}" />
        <button type="submit" style="filter: invert(1); padding: 0px; padding-left:5px; background: transparent; color: #fff;" class="social-link social-link-fb">
{{> icons/search }}
        </button>
</form>
<script type="text/javascript">
function getParameterByName(name, url) {
    if (!url) url = window.location.href;
    name = name.replace(/[\[\]]/g, '\\$&');
    var regex = new RegExp('[?&]' + name + '(=([^&#]*)|&|#|$)'),
        results = regex.exec(url);
    if (!results) return null;
    if (!results[2]) return '';
    return decodeURIComponent(results[2].replace(/\+/g, ' '));
}

document.getElementById("google-search-box").value = getParameterByName('q');
</script>