<form action="/search/" method="GET" style="margin-top: 3px" class="social-link social-link-fb">
        <input style="color:#000" name="q" type="search" alt="search">
        <button type="submit" style="filter: invert(1); padding: 0px; padding-left:5px; background: transparent; color: #fff;" class="social-link social-link-fb">
{{> icons/search }}
        </button>
</form>